nltk==3.5
vadersentiment==3.3.2

streamlit~=1.22.0
flask~=2.0.3
numpy~=1.23.5
spacy~=3.5.2
inflect~=6.0.4
scikit-learn~=1.2.2
transformers~=4.27.4
torch~=2.0.0
contractions~=0.1.73
pandas~=2.0.0
hdbscan~=0.8.29
umap~=0.1.1
pynndescent~=0.5.10
joblib~=1.1.1
scipy~=1.10.1